# Python Basics:

In [2]:
a = 20
a

20

In [3]:
a = 'Ramesh'

## Variable:
    - It stores a value
    - It changes a value
    Syntax:
        variablename = value

In [4]:
w = 45
w

45

In [7]:
e = 45.012
y = 'Prasad'
e,y

(45.012, 'Prasad')

In [8]:
k = '45'
k

'45'

In [9]:
print(k)

45

## Variable Assignments:
    - single variable to single value
    - n number of variables to n number of values
    - n number of varaibles to single value

In [10]:
h,n = 12,56.00
print(h,n)

12 56.0

In [11]:
h,n,p = 12,56.00
print(h,n,p)

ValueError: not enough values to unpack (expected 3, got 2)

In [12]:
h,n,p = 12
print(h,n,p)

TypeError: cannot unpack non-iterable int object

In [14]:
h = 12,56.00,78
print(h)

(12, 56.0, 78)

In [15]:
h,k = 45,89,'Tarun'
print(h,k)

ValueError: too many values to unpack (expected 2)

In [16]:
g = r = p = 400
print(g,r,p)
print(g,id(g))
print(r,id(r))
print(p,id(p))

400 400 400
400 2177405815792
400 2177405815792
400 2177405815792

## Data types:
    - int => Only numbers will be allowed
    - float => decimal values
    - str => enclosed with ' or "
    - complex => real and imaginary part
    - boolean => True or False
    - none => None [Empty]
    - All Data Structures like [List,Tuple,Set and Dictionary]

In [17]:
a = 20
print(a)

20

## Type:
    - To know the data type of a variable
    Syntax:
        type(variablename)

In [18]:
f = 45.1545
type(f)

float

In [19]:
d = 45
print(d,type(d))

45 <class 'int'>

In [20]:
a,b,c,d,e,f = 45,56.01,'Lalitha',5+4j,True,None
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))

45 <class 'int'>
56.01 <class 'float'>
Lalitha <class 'str'>
(5+4j) <class 'complex'>
True <class 'bool'>
None <class 'NoneType'>

In [22]:
j = '89'
j

'89'

In [24]:
print(j,type(j))

89 <class 'str'>

## Typecasting:
    - Changing the data type of one type to another type
    - int()
    - float()
    - str()
    - complex()
    - bool()
    - All Data Structures like [list(),tuple(),set() and dict()]

```
    values to a variable
    
    Student Name: Rajesh and Roll number is: 102
 ```

In [26]:
sname = "Rajesh"
roll = 102
print("Student Name:",sname,"and Roll number is:",roll)

Student Name: Rajesh and Roll number is: 102

## Input:
    - To read an input from a user
    - By default data type will be string
    - It displays an info to a use
    Syntax:
        variablename = input("something info")

In [1]:
z = input("Enter a value: ")
print(z,type(z))

Enter a value: 45
45 <class 'str'>

In [2]:
a = 20
a

20

In [7]:
sname,sage = input("Enter Student Name: "),int(input("Enter Student Age: "))
print(sname,type(sname))
print(sage,type(sage))

Enter Student Name: Nikki
Enter Student Age: 25
Nikki <class 'str'>
25 <class 'int'>

## Output Formatting:   
    - ,
    - format specifiers
    - .format
    - f
    http://pyformat.info

In [14]:
sn,sr,sa = input("Enter Student Name: "),input("Enter Student roll Number: "),input("Enter Student Age: ")
print("Student Name:",sn,"Roll Number:",sr,"Age:",sa)
print("Student Name: %s Roll Number: %s Age: %d"%(sn,sr,int(sa)))
print("Student Name: {} Roll Number: {} Age: {}".format(sn,sr,sa))
print("Student Name: {2} Roll Number: {0} Age: {1}".format(sn,sr,sa))
print(f"Student Name: {sn} Roll Number: {sr} Age: {sa}")

Enter Student Name: Yamini
Enter Student roll Number: 45787
Enter Student Age: 24
Student Name: Yamini Roll Number: 45787 Age: 24
Student Name: Yamini Roll Number: 45787 Age: 24
Student Name: Yamini Roll Number: 45787 Age: 24
Student Name: 24 Roll Number: Yamini Age: 45787
Student Name: Yamini Roll Number: 45787 Age: 24

```
    Input:
        Enter a number: 5
        Enter a string: Harish
        Enter Float value: 23.15
        
    Output:
        Number is: '5' and string is: 'Harish' and Float value is: 23
        
```

## Keywords:
    - It is a reserved word that should not be used as variablename or classname or functionanme or methodname
    - For these keys the mechanism is defined
    - import keyword
    - display all variavles,classname,methodname or functionname
         dir(keyword)
    - doc for document of keyword
    - help()

In [15]:
import keyword

In [16]:
print(dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']

In [18]:
print(keyword.kwlist,len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'] 36

## Operators:
    - Arithmetic => +,-,*,/,%,floor Division(//),exponent(**) => For expression
    - Logical => AND,OR,NOT => between 2 or more conditions 
    - Bitwise => &,|,!,<<,>> => between 2 or more conditions
    - Relational => >,<,==,!=,>=,<= => Comparision of a value [Conditional]
    - Assignment => +=,-=,*=,/=,//=,**= => Loops
    - Identity => is and is not => we can compare by using string variables
    - Membership => in, not in => loops, Data structures