## Dictionary:
    - It can be represented with "{}"
    - It stores the data in key and value pairs
    - It allows duplicate values but not for keys
    - It can be typecasted as dict()
    - Slicing can be done for values
    - It stores the data in ordered of a key

In [ ]:
f = {(key,value),(key1,[.....]))}

In [1]:
b = {}
c = dict()
print(b,type(b))
print(c,type(c))

{} <class 'dict'>
{} <class 'dict'>

In [3]:
g = {'sno':[1,2,3,4,5],'sname':('Ramesh','Kavitha','Suresh','Somu','Bhavana')}
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana')}

In [4]:
for i in g:
    print(i,type(i))

sno <class 'str'>
sname <class 'str'>

In [10]:
for i in g.items():
    print(f"{i[0]} => {i[1][1]}")

sno => 2
sname => Kavitha

In [11]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [12]:
print(g.items())

dict_items([('sno', [1, 2, 3, 4, 5]), ('sname', ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'))])

In [13]:
print(g.keys())

dict_keys(['sno', 'sname'])

In [14]:
print(g.values())

dict_values([[1, 2, 3, 4, 5], ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana')])

In [19]:
print(g.get('sname'))
print(g['sname'])

('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana')
('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana')

In [20]:
print(g.get('sno'))
print(g['sno'])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [21]:
print(g)
g.setdefault('CollegeName')
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana')}
{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None}

In [26]:
print(g)
g.setdefault('Address','VJWD')
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, ('Address', 'VJWD'): None}
{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, ('Address', 'VJWD'): None, 'Address': 'VJWD'}

In [27]:
print(g)
g['Address'] = 'Gntr'
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, ('Address', 'VJWD'): None, 'Address': 'VJWD'}
{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, ('Address', 'VJWD'): None, 'Address': 'Gntr'}

In [28]:
print(g)
g.update({'Address':'Nlre'})
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, ('Address', 'VJWD'): None, 'Address': 'Gntr'}
{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, ('Address', 'VJWD'): None, 'Address': 'Nlre'}

In [30]:
print(g)
g.setdefault('Native','VJWD')
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, ('Address', 'VJWD'): None, 'Address': 'Nlre'}
{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, ('Address', 'VJWD'): None, 'Address': 'Nlre', 'Native': 'VJWD'}

In [31]:
print(g)
g.pop()
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, ('Address', 'VJWD'): None, 'Address': 'Nlre', 'Native': 'VJWD'}

TypeError: pop expected at least 1 argument, got 0

In [32]:
print(g)
g.pop(('Address', 'VJWD'))
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, ('Address', 'VJWD'): None, 'Address': 'Nlre', 'Native': 'VJWD'}
{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, 'Address': 'Nlre', 'Native': 'VJWD'}

In [33]:
print(g)
g.popitem()
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, 'Address': 'Nlre', 'Native': 'VJWD'}
{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, 'Address': 'Nlre'}

In [34]:
print(g)
g.popitem('sno')
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, 'Address': 'Nlre'}

TypeError: dict.popitem() takes no arguments (1 given)

In [35]:
print(g)

{'sno': [1, 2, 3, 4, 5], 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'), 'CollegeName': None, 'Address': 'Nlre'}

In [36]:
g

{'sno': [1, 2, 3, 4, 5],
 'sname': ('Ramesh', 'Kavitha', 'Suresh', 'Somu', 'Bhavana'),
 'CollegeName': None,
 'Address': 'Nlre'}

In [37]:
h = [0,1,5]
b = {}

b = b.fromkeys(h)
print(b)

{0: None, 1: None, 5: None}

In [38]:
c = b.copy()
print(b)
print(c)

{0: None, 1: None, 5: None}
{0: None, 1: None, 5: None}

In [39]:
print(b)
b.clear()
print(b)

{0: None, 1: None, 5: None}
{}

In [40]:
print(c)
del c
print(c)

{0: None, 1: None, 5: None}

NameError: name 'c' is not defined

## Sample Example
```
    Input:
        Ramesh is
    Output:
        R => 1
        a => 1
        m => 1
        e => 1
        s => 2
        h => 1
        i => 1
```

## Set
    - It can be represented as {'1'} with an existing value in it
    - It doesnt allows duplicate values
    - It stores all data types elements
    - It stores data in unorederd format
    - It can be typecasted as set()
    - Slicing can't be done because of no index
    - It is muteable [changes a value]

In [45]:
m = {1,45.15,'Vani',56+4j,False,None,1,1,1,'00.1',0.002}
print(m,type(m))

{False, 1, (56+4j), '00.1', 'Vani', 45.15, None, 0.002} <class 'set'>

In [44]:
m

{(56+4j), 0.002, '00.1', 1, 45.15, False, None, 'Vani'}

In [46]:
print(m)

{False, 1, (56+4j), '00.1', 'Vani', 45.15, None, 0.002}

In [47]:
for i in m:
    print(i,type(i))

False <class 'bool'>
1 <class 'int'>
(56+4j) <class 'complex'>
00.1 <class 'str'>
Vani <class 'str'>
45.15 <class 'float'>
None <class 'NoneType'>
0.002 <class 'float'>

In [48]:
for i in range(len(m)):
    print(m[i])

TypeError: 'set' object is not subscriptable

In [49]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [50]:
a = {45,9,8,6,150}
b = {9,8,458,78,23}
print(a)
print(b)

{6, 150, 8, 9, 45}
{23, 8, 9, 458, 78}

In [51]:
print(a)
print(b)
print(a.union(b))
print(b.union(a))
print(a)
print(b)

{6, 150, 8, 9, 45}
{23, 8, 9, 458, 78}
{6, 8, 9, 458, 45, 78, 150, 23}
{6, 8, 9, 458, 45, 78, 150, 23}
{6, 150, 8, 9, 45}
{23, 8, 9, 458, 78}

In [52]:
print(a)
print(b)
print(a.intersection(b))
print(b.intersection(a))
print(a)
print(b)

{6, 150, 8, 9, 45}
{23, 8, 9, 458, 78}
{8, 9}
{8, 9}
{6, 150, 8, 9, 45}
{23, 8, 9, 458, 78}

In [54]:
print(a)
print(b)
print(a.difference(b))
print(b.difference(a))
print(a)
print(b)

{6, 150, 8, 9, 45}
{23, 8, 9, 458, 78}
{150, 45, 6}
{458, 78, 23}
{6, 150, 8, 9, 45}
{23, 8, 9, 458, 78}

In [56]:
print(a)
a.add(1,8,9,6)
print(a)

{6, 150, 8, 9, 45}

TypeError: set.add() takes exactly one argument (4 given)

In [57]:
m = {} # dictionary
n = {4} # set
print(m,type(m))
print(n,type(n))

{} <class 'dict'>
{4} <class 'set'>

In [59]:
p = set()
q = set()
print(p,type(p))
print(q,type(q))
print(p.union(q))
print(p)
print(q)

set() <class 'set'>
set() <class 'set'>
set()
set()
set()

In [60]:
print(a)
a.add(67)
print(a)

{6, 150, 8, 9, 45}
{67, 6, 150, 8, 9, 45}

In [62]:
print(a)
a.add((1,5,9))
print(a)

{67, 6, 150, 8, 9, 45}
{67, (1, 5, 9), 6, 150, 8, 9, 45}

In [63]:
print(a)
a.remove()
print(a)

{67, (1, 5, 9), 6, 150, 8, 9, 45}

TypeError: set.remove() takes exactly one argument (0 given)

In [64]:
print(a)
a.remove((1,5,9))
print(a)

{67, (1, 5, 9), 6, 150, 8, 9, 45}
{67, 6, 150, 8, 9, 45}

In [65]:
print(a)
a.remove(-45)
print(a)

{67, 6, 150, 8, 9, 45}

KeyError: -45

In [67]:
print(a)
a.pop()
print(a)

{6, 150, 8, 9, 45}
{150, 8, 9, 45}

In [68]:
print(a)
a.pop()
print(a)

{150, 8, 9, 45}
{8, 9, 45}

In [69]:
print(a)
a.pop(45)
print(a)

{8, 9, 45}

TypeError: set.pop() takes no arguments (1 given)

In [71]:
print(a)
print(b)
print(a.symmetric_difference(b))
print(a)
print(b)

{8, 9, 45}
{23, 8, 9, 458, 78}
{23, 458, 45, 78}
{8, 9, 45}
{23, 8, 9, 458, 78}

In [72]:
print(a)
print(b)
a.intersection_update(b)
print(a)
print(b)

{8, 9, 45}
{23, 8, 9, 458, 78}
{8, 9}
{23, 8, 9, 458, 78}

In [73]:
c = {5,7,8,3}
d = {56,67,3,23}
print(c)
print(d)
c.difference_update(d)
print(c)
print(d)

{8, 3, 5, 7}
{56, 67, 3, 23}
{8, 5, 7}
{56, 67, 3, 23}

In [74]:
q = {56,7,8,45}
z = {90,7,23,450}
print(q)
print(z)
z.symmetric_difference_update(q)
print(q)
print(z)

{56, 8, 45, 7}
{450, 7, 90, 23}
{56, 8, 45, 7}
{450, 8, 45, 23, 56, 90}

In [78]:
print(z)
z.update([45,2,3,6,9])
print(z)

{450, 8, 45, 23, 56, 90}
{450, 2, 3, 6, 8, 9, 45, 23, 56, 90}

## String:
    - It can be enclosed with ' or " 
    - It stores all data type values
    - It can be typecasted as str()
    - Slicing can be done because of index
    - It stores the data in single string item or a characters

In [80]:
v = '1.12'
print(v,type(v))

1.12 <class 'str'>

In [81]:
y = 'THis is an Example'
print(y,type(y))

THis is an Example <class 'str'>

In [83]:
for i in range(len(y)):
    print(i,type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>
11 <class 'int'>
12 <class 'int'>
13 <class 'int'>
14 <class 'int'>
15 <class 'int'>
16 <class 'int'>
17 <class 'int'>

In [85]:
for i in y:
    print(i,end=" ")

T H i s   i s   a n   E x a m p l e