## Function:
    - To perform a specific task
    - Function types
        => Builtin => The task is predefined [Already task is fixed]
             Ex: print,range,input,len, etc.,   
        => User Defined => The task is to be fixed by a user
             Ex: ad,ml,rev,nodigit 
    - Code reuseability
    Syntax:
        def function_name(parameters):
            //statements
            return return_value

## User defined Function types:
    => Reading,Printing and Logic
    
    => With returntype and with arguments
    => With returntype and without arguments
    => Without returntype and with arguments
    => Without returntype and without arguments

In [3]:
# With returntype and with arguments
# Reading => Main
# Printing => Main
# Logic => Function
def st(d):
    c = 0
    for i in range(1,d+1):
        c+=i
    return c

In [4]:
c = int(input("Enter a value: "))
print(f"Given number is : {c} and sum of its range is: {st(c)}")

Enter a value: 5
Given number is : 5 and sum of its range is: 15

In [6]:
# With returntype and without arguments
# Reading => Function
# Printing => Main
# Logic => Function
def dy():
    n = int(input("Enter a range: "))
    print(f"Given number is: {n} and sum of its range is:",end=" ")
    d = 0
    for i in range(1,n+1):
        d+=i
    return d

print(f"{dy()}")

Enter a range: 3
Given number is: 3 and sum of its range is: 6

In [9]:
# Without returntype and with arguments
# Reading => Main
# Printing => Function
# Logic => Function
def printdigitcount(s):
    v = 0
    while s>0:
        s//=10
        v+=1
    print(f"and its digit count is: {v}")
    return

n = int(input("Enter a number: "))
print(f"Given number is: {n}",end=" ")
printdigitcount(n)

Enter a number: 12
Given number is: 12 and its digit count is: 2

In [12]:
# Without returntype and without arguments
# Readinng => Function
# Printing => Function
# Logic => Function
def reversenumber():
    n = int(input("Enter a number: "))
    c = 0
    print(f"Given number is: {n} and its reverse is:",end=" ")
    while n!=0:
        c = c*10 + n%10
        n//=10
    print(f"{c}")
    return

reversenumber()

Enter a number: 7845
Given number is: 7845 and its reverse is: 5487

## Function Argument Types:
    - Default
    - Required or Positional
    - Keyword
    - Varible-Length
        - Arbitary keyword
        - Arbitary Positional

## Default argument:
    - In function parameters the varaible values are fixed but we need to follow the preference from right to left

In [13]:
def employee(a,b):
    print("=="*20+"Employee Details"+"=="*20)
    print(f"Employee Id is: {a}")
    print(f"Employee Name is: {b}")
    return

ed = input("Enter Employee id: ")
ename = input("Enter Employee Name: ")
employee(ed,ename)

Enter Employee id: E67
Enter Employee Name: Prassad
========================================Employee Details========================================
Employee Id is: E67
Employee Name is: Prassad

In [14]:
def employee(a,b,sa = 45000):
    print("=="*20+"Employee Details"+"=="*20)
    print(f"Employee Id is: {a}")
    print(f"Employee Name is: {b}")
    print(f"Employee Salary is: {sa}")
    return

ed = input("Enter Employee id: ")
ename = input("Enter Employee Name: ")
employee(ed,ename)

Enter Employee id: T56
Enter Employee Name: Kavitha
========================================Employee Details========================================
Employee Id is: T56
Employee Name is: Kavitha
Employee Salary is: 45000

In [16]:
def employee(a,b="Lokesh",sa = 45000):
    print("=="*20+"Employee Details"+"=="*20)
    print(f"Employee Id is: {a}")
    print(f"Employee Name is: {b}")
    print(f"Employee Salary is: {sa}")
    return

ed = input("Enter Employee id: ")
ename = input("Enter Employee Name: ")
employee(ed,ename)

Enter Employee id: W345
========================================Employee Details========================================
Employee Id is: W345
Employee Name is: Lokesh
Employee Salary is: 45000

In [17]:
def employee(a,b="Lokesh",sa = 45000):
    print("=="*20+"Employee Details"+"=="*20)
    print(f"Employee Id is: {a}")
    print(f"Employee Name is: {b}")
    print(f"Employee Salary is: {sa}")
    return

ed = input("Enter Employee id: ")
employee(ed)

Enter Employee id: P45
========================================Employee Details========================================
Employee Id is: P45
Employee Name is: Lokesh
Employee Salary is: 45000

In [18]:
def employee(a="K56",b="Lokesh",sa = 45000):
    print("=="*20+"Employee Details"+"=="*20)
    print(f"Employee Id is: {a}")
    print(f"Employee Name is: {b}")
    print(f"Employee Salary is: {sa}")
    return

employee()

========================================Employee Details========================================
Employee Id is: K56
Employee Name is: Lokesh
Employee Salary is: 45000

In [20]:
def employee(a="K56",b,sa):
    print("=="*20+"Employee Details"+"=="*20)
    print(f"Employee Id is: {a}")
    print(f"Employee Name is: {b}")
    print(f"Employee Salary is: {sa}")
    return

employee()

SyntaxError: non-default argument follows default argument (663358260.py, line 1)

## Required or Positional argument:
    - Exact parameter values are to be accessed from outside of a function

In [21]:
def student(c,t):
    print("=="*15+" Student Details "+"=="*15)
    print(f"Roll Number: {c}")
    print(f"Student Name: {t}")
    return

p = input("Enter Roll Number: ")
n = input("Enter Name: ")
student(p,n)

Enter Roll Number: 21AK1A1204
Enter Name: Kalyan
============================== Student Details ==============================
Roll Number: 21AK1A1204
Student Name: Kalyan

In [22]:
def student(c,t,k):
    print("=="*15+" Student Details "+"=="*15)
    print(f"Roll Number: {c}")
    print(f"Student Name: {t}")
    return

p = input("Enter Roll Number: ")
n = input("Enter Name: ")
student(p,n)

Enter Roll Number: 20P3124
Enter Name: Sarath

TypeError: student() missing 1 required positional argument: 'k'

In [23]:
def student(c):
    print("=="*15+" Student Details "+"=="*15)
    print(f"Roll Number: {c}")
    return

p = input("Enter Roll Number: ")
n = input("Enter Name: ")
student(p,n)

Enter Roll Number: AP21110045
Enter Name: Manoj

TypeError: student() takes 1 positional argument but 2 were given

In [25]:
def student(c,k='Kavitha'):
    print("=="*15+" Student Details "+"=="*15)
    print(f"Roll Number: {c}")
    print(f"Studnet Name: {k}")
    return

p = input("Enter Roll Number: ")
# n = input("Enter Name: ")
# student(p,n)
student(p)

Enter Roll Number: TRT46
============================== Student Details ==============================
Roll Number: TRT46
Studnet Name: Kavitha

## Keyword Argument:
    - Key names should be equal for function declaration and in function call. Those names can be accessed with unorder formats.

In [26]:
def employee(b,a):
    print("=="*15+" Employee Details "+"=="*15)
    print(f"Employee Name: {b}")
    print(f"Employee Salary: {a}")
    return

en = input("Employee Name: ")
esal = float(input("Enter Employee Salary: "))
employee(a=esal,b=en)

Employee Name: Rajesh
Enter Employee Salary: 45000
============================== Employee Details ==============================
Employee Name: Rajesh
Employee Salary: 45000.0

In [28]:
def employee(b,a,p):
    print("=="*15+" Employee Details "+"=="*15)
    print(f"Employee Name: {b}")
    print(f"Employee Salary: {a}")
    return

en = input("Employee Name: ")
esal = float(input("Enter Employee Salary: "))
employee(a=esal,b=en,d="Et56")

Employee Name: Bhargav
Enter Employee Salary: 25000

TypeError: employee() got an unexpected keyword argument 'd'

In [29]:
def employee(b,a,p):
    print("=="*15+" Employee Details "+"=="*15)
    print(f"Employee Name: {b}")
    print(f"Employee Salary: {a}")
    return

en = input("Employee Name: ")
esal = float(input("Enter Employee Salary: "))
employee(a=esal,b=en)

Employee Name: Tilak
Enter Employee Salary: 25000

TypeError: employee() missing 1 required positional argument: 'p'

In [30]:
def employee(b,a,p="WE34"):
    print("=="*15+" Employee Details "+"=="*15)
    print(f"Employee Name: {b}")
    print(f"Employee Salary: {a}")
    print(f"Employee Id: {p}")
    return

en = input("Employee Name: ")
esal = float(input("Enter Employee Salary: "))
employee(a=esal,b=en)

Employee Name: Arun
Enter Employee Salary: 65000
============================== Employee Details ==============================
Employee Name: Arun
Employee Salary: 65000.0
Employee Id: WE34

In [31]:
def employee(b,a,p="WE34"):
    print("=="*15+" Employee Details "+"=="*15)
    print(f"Employee Name: {b}")
    print(f"Employee Salary: {a}")
    print(f"Employee Id: {p}")
    return

en = input("Employee Name: ")
esal = float(input("Enter Employee Salary: "))
eid = input("Enter Employee Id: ")
employee(a=esal,b=en,d=eid)

Employee Name: Charan
Enter Employee Salary: 24500
Enter Employee Id: ER45

TypeError: employee() got an unexpected keyword argument 'd'