In [2]:
import sqlite3
c = sqlite3.connect('sample.db')

In [22]:
n = input("Enter Roll Number: ")
z = "select * from student where rno=?"
t = c.execute(z,(n,)).fetchone()
# print(t.fetchone(),type(t))
print(t)
c.commit()

Enter Roll Number: 21Ak1A450
('21Ak1A450', 'Ramesh', 2, 'CSE')

In [19]:
p = "select * from student"
d = c.execute(p).fetchall()
# print(d)
print("**"*10+" Student Records "+"**"*10)
for i in d:
    print(i[0],i[1])
print("**"*28)

******************** Student Records ********************
21Ak1A450 Ramesh
21AK1A460 Ganesh
********************************************************

In [23]:
n = input("Enter roll number: ")
h = input("Enter New Roll number")
e = "update student set rno=? where rno=?"
c.execute(e,(h,n))
c.commit()

Enter roll number: 21Ak1A450
Enter New Roll number21AK1A470

In [24]:
n = input("Enter roll number: ")
h = input("Enter New Roll number")
p = input("Enter New Name")
t = input("Enter New Year")
b = input("Enter New Branch")
e = "update student set rno=?,saname=?,syear=?,sbranch=? where rno=?"
c.execute(e,(h,p,t,b,n))
c.commit()

Enter roll number: 21AK1A460
Enter New Roll number21AK1A480
Enter New NameNaresh
Enter New Year3
Enter New BranchAI/ML

In [28]:
n = input("Enter roll number: ")
h = input("Enter New Roll number")
p = input("Enter New Name")
t = input("Enter New Year")
b = input("Enter New Branch")
c.execute("update student set rno=?,saname=?,syear=?,sbranch=? where rno=?",(h,p,t,b,n))
c.commit()

Enter roll number: 21AK1A470
Enter New Roll number21AK1A402
Enter New NameBhargav
Enter New Year2
Enter New BranchCSE

In [30]:
m = input("Enter Roll number: ")
c.execute("delete from student where rno=?",(m,))
c.commit()

Enter Roll number: 21AK1A480

In [32]:
c.execute("delete from student")
c.commit()

In [ ]:
clear => empty => data structure => exists
del => delete the data strcuture it wont access for next line

```
Database => CRUD Operations by Using sqlite3
Database => choose any database =>  
Tablename => choose any table => 
Fields => roll,name,email,branch,year
Task based on Function concept:
    1. Insert Record
    2. Update Record
        1. roll
        2. name
        3. email
        4. exit
    3. Display All Records
    4. Display single Record
    5. Delete All Records
    6. Delete single Record
    7. Exit
```